@charset "ISO-8859-1";
@charset "utf-8";
/* CSS Document */
/* Bordered form */

.row {
    padding-left: 20px;    
}

.row2 {
    padding-left: 20px;
    margin: auto;
}

.search {
    width: 100%;  
    margin-top: 150px;
}

.searchbar {
    width: 80%;
    border: 3px solid #F19938;
    padding: 20px;   
}

.searchbtn {
    background-color: #F19938;
    color: white;
    padding: 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%; 
}

.searchbtn:hover {
    color: #fff;
    background-color: #333333;   
}

.viewProfilebtn {
    background-color: #F19938;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    width: 30%; 
    margin-top:  5px;
    margin-bottom: 10px;
}

.viewProfilebtn:hover {
    color: #fff;
    background-color: #333333;
}

.textboxList {
    padding-left: 10px;
    margin-top:  5px;
    margin-bottom: 10px;
    background-color: white;
}

.textboxList:hover {
    box-shadow: 0 15px 50px 0 rgba(0, 0, 0, .2);
}

.textbox {
    padding: 10px;
    margin: 20px 0;
    background-color: white;
    text-align: left;
    transition: all ease .3s;
}

.textbox:hover {
    box-shadow: 0 15px 50px 0 rgba(0, 0, 0, .2);
}

.textbox__title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 25px;
    text-align: center;
}

.textbox__title1 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 25px;
    text-align: center;
}

.textbox__title2 {
    font-weight: bold;
    text-align: left;  
}

