body{
background-image: url("../../wishbone pictures/Oksana_background.jpg");
background-repeat: no-repeat;
background-size: cover;

}




.leftnav{
	width:70%;
}
.pictureback{
	padding:5px;
}
.mycontent{
	display: flex;
	/*builds divs from left to the right by blocks*/
	justify-content: space-between;
	margin-top: -100px;
	font-size: 8px;
	background: url("../../assets/img/slider.jpg");
	
}
.rightContent{
	width:1000px;
}

.leftContent{
	margin-top:100px;
}
.feed{
	margin-top:100px;
	width:300px;
	background: rgba(248,247,216,0.7);
	height:800px;
	
}
.centerFeed{
	background: rgba(248,247,216,0.7);
	height: 450px;
	padding: 20px;
	width:800px;
	margin:0 auto;
	
	font-size: 17px;

	overflow-y:scroll;
	


}
.center p{
	font-size:20px;
}
.bottomFeed{
    background: rgba(248,247,216,0.7);
    height: 225px;
    width:800px;
    margin:0 auto;
    margin-top: 25px;
    
}


.topnav div a{
	display: inline-block;
	margin-left: 10px !important;
	font-size: 20px;
	color:white;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  text-align: center;
  margin-left:1px;
  background-color:rgba(248,247,216,0.7);
  marging-top: 30px;
  padding-bottom:10px;
  height:
}

.oksana {
	margin-top: -65px;

  vertical-align: middle;
  width: 80px;
  height: 120px;
  border-radius: 50%;
  border: 7px solid white;
 
} 
.oksana2{
	
	height:200px;
	width:200px;
	
	
}
.wishbone8, .wishbone10, .wishbone2, .wishbone5{
	height:100px;
	width:30px;
}

.wishbone7{
	height:100px;
	width:30px;
}
.adver1,.adver2{
	margin:20px;
}
p{
	font-size:18px;
}


.title {
  color: black;
  font-size: 20px;
  margin-left: 10px;
  margin-right:10px;
}

.textarea{
	width: 800px;
	border-radius: 20px;
	margin-left:10px;
	margin-right:25px;
.serverText{
	margin-top: 100px;
	width: 600px;
	height:30px !important;
	margin-left:50px;
	margin-right:10px;
	font-size:16px;
	margin-buttom:20px;
	
}
	
.button{
	margin-left:50px;
}

i{
	color: blue;
	justify-content: space-between 5px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
} 